.field {
    border: 1px solid black;
}

.hover_field {
    border: 1px solid lightblue;
}

.empty_field {
    color: darkgray;
}

.dynamic_field {
    background: black;
    color: white;
    border: 1px solid lightblue;
}