body, html {
    font-size: 108%;
    background: black;
    color: lightblue;
}

body {
    padding: 1em;
}

p {
  margin-bottom: 1em;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 123.1%;
    margin-bottom: 1em;
}

a:link {
    text-decoration: none;
    color: CornflowerBlue;
}
a:visited {
    text-decoration: none;
    color: CornflowerBlue;
}
a:active {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: white;
}

#sidebar {
    border: 1px dashed lightblue;
    padding: 1em;
    margin: 1em;
}

#sidebar li {
    margin-bottom: 0.2em;
}

#admin-header {
    text-align: right;
    font-size: 85%;
}

#main {
    padding: 1em;
    margin: 1em;
    padding-top: 0;
}

.albums li {
    margin-bottom: 0.2em;
}

.thumbnail {
    float: left;
    padding: 5px;
    width: 110px;
    height: 110px;
    text-align: center;
    vertical-align: center;
}

table.layout td {
    vertical-align: top;
    padding: 0.5em;
    padding-top: 0;
}

table.layout td.right {
    width: 18em;
}

.back_link {
    font-size: 85%;
}

.download_link {
    font-size: 85%;
}

.nav a {
    font-size: 85%;
}

.photo {
    width: 720px;
}

.field {
    background: black;
    border: 1px solid black;
    color: lightblue;
    padding: 0;
    margin: 0;
}

.hover_field {
    border: 1px solid lightblue;
}

.empty_field {
    color: darkgray;
}

.dynamic_field {
    border: 1px solid lightblue;
}

.field#title {
    color: white;
    font-weight: bold;
    font-size: 123.1%;
    margin-bottom: 1em;
}

.field#location {
    font-weight: bold;
}

.field#desc {
    font-size: 93%;
}

input.field {
    width: 100%;
}

#visibility {
    font-size: 93%;
    color: darkgray;
}

#actions {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.action {
    font-size: 77%;
    margin-right: 0.4em;
    background-color: #202030;
    border: 1px solid #303060;
    padding: 2px;
}
