body, html {
    font-size: 108%;
    background: black;
    color: lightblue;
}

body {
    padding: 1em;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 123.1%;
    margin-bottom: 1em;
}

a:link {
    text-decoration: none;
    color: CornflowerBlue;
}
a:visited {
    text-decoration: none;
    color: CornflowerBlue;
}
a:active {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: white;
}

#sidebar {
    border: 1px dashed lightblue;
    padding: 1em;
    margin: 1em;
}

#sidebar li {
    margin-bottom: 0.2em;
}

#main {
    padding: 1em;
    margin: 1em;
    padding-top: 0;
}

.albums li {
    margin-bottom: 0.2em;
}

.thumbnail {
    float: left;
    padding: 5px;
    width: 110px;
    height: 110px;
    text-align: center;
    vertical-align: center;
}

table.layout td {
    vertical-align: top;
    padding: 0.5em;
    padding-top: 0;
}

table.layout td.right {
    width: 18em;
}
